version: '3.3'


services:
  database:
    image: mysql:latest
    container_name: apiweb1database
    environment:
      MYSQL_DATABASE: ${DATABASE}   
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}      
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    expose:
      - ${DATABASE_PORT}